a.button {
    font-family: var(--sans);

    text-decoration: none;

    color: var(--black);

    line-height: 64px;

    font-size: 16px;
    font-weight: bold;

    text-transform: uppercase;

    padding: calc((64px - 16px) / 2) 15px;
}

a.button-i {
    padding: 0;
}

a.button-i i {
    font-size: 32px;
    padding: calc((64px - 32px) / 2) 15px;
}

.button:not(.button-i):hover {
    background-color: var(--light-bg);
    color: var(--primary);
}

.button-i:hover i {
    background-color: var(--light-bg);
    color: var(--primary);
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}