a.button {
    font-family: var(--sans);

    text-decoration: none;

    color: var(--black);

    line-height: 64px;

    font-size: 16px;
    font-weight: bold;

    text-transform: uppercase;

    padding: calc((64px - 16px) / 2) 15px;
}

a.button-i {
    padding: 0;
}

a.button-i i {
    font-size: 32px;
    padding: calc((64px - 32px) / 2) 15px;
}

.button:not(.button-i):hover {
    background-color: var(--light);
    color: var(--primary);
}

.button-i:hover i {
    background-color: var(--light);
    color: var(--primary);
}

.center-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-btn i {
    font-size: 64px;
}

.icon-btn:hover i {
    color: var(--primary);
}

/* ======================================== CARD =====================================*/
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transition: 500ms ease-in-out;

    padding: 15px;
    width: calc(100% - 30px);
}

.card:hover {
    transform: translate(-1px, -2px);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
    background-color: var(--light-bg);
}

.card-text {
    text-align: center;
}

.card-link {
    font-size: 64px;
    transition: 500ms;
}

.card-link:hover {
    color: var(--primary);
}

.card-title {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--sans-condensed);
}

.card-desc {
    font-size: 24px;
}