label.flex-tile {
    background-position: center;
    background-size: cover;

    border: 1px solid white;
}

#english-cw {
    background-image: url("/assets/cgi-bin/english-cw.png");
}

#metabolic {
    background-image: url("/assets/cgi-bin/metabolic.png");
}

#quebec {
    background-image: url("/assets/cgi-bin/quebec.png");
}

#french-summer {
    background-image: url("/assets/cgi-bin/french-summer.png");
}

#themes {
    background-image: url("/assets/cgi-bin/themes.png");
}

#plain-data {
    background-image: url("/assets/cgi-bin/plain-data.png");
}

#json {
    background-image: url("/assets/cgi-bin/json.jpg");
}