@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,400i|IBM+Plex+Serif&display=swap');

:root {
    --primary: #21618C;
    --secondary: #323232;
    --light: #AED6F1;
    --black: #323232;
    --light-bg: rgba(174, 214, 241);

    --serif: 'IBM Plex Serif', serif;
    --sans: 'IBM Plex Sans', sans-serif;
    --sans-condensed: 'IBM Plex Sans Condensed', sans-serif;
    --mono: 'IBM Plex Mono', monospace;
}

* {
    font-family: var(--serif);

    scroll-behavior: smooth;

    color: var(--black);
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		scroll-behavior: auto;
	}
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.full-size {
    width: 100%;
    height: 100%;
}